/* header  start*/
._header{
    height: 100px;
    width: 100%;
    background: white;
}
._header img{
    height: 100px;
}
/* header  end*/

/* content start  */
body{
    font-size: 0px;
    margin: 0;
}
.button{
    margin: 10px 0px;
}
.nav1{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0 0;
    padding:0;
    text-align:center;
}
.nav1 li{
    margin: 10px;
    display:inline;
}
.nav1 a{
    text-decoration: none;
    font-size: 20px;
    color: #888888;
    display:inline-block;
    padding:10px;
}
.nav1 a:hover{
    text-decoration: none;
    color: #515151;
}
.nav1 a:focus{
    color: #515151;
    text-decoration: none;    
}
.nav li p{
    text-decoration: none;
    margin:0 0 0 0;
}
.nav1 img{
    height: 25px;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}  
img{
    max-width: 100%;
    height: auto;
  }

.sticky1 {
    position: fixed;
    top: 0;
    left: -1px;
    width: 100%;
    background-color: white;
    padding-bottom: 0px;
} 
/*.sticky1 + .content1 {
    padding-top: 400px;
} */



/* content end  */

/* stats start */
.stats{
    background-color: aliceblue;
}
/* stats end */

/* categories start */
#categories {
    margin: 0 auto;
}
.card{
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.11); 
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.11);
    transition: all .5s;
}
.card:hover{
    -webkit-box-shadow: 0px 0px 19px 7px rgba(114, 108, 108, 0.53); 
    box-shadow: 0px 0px 19px 7px rgba(114, 108, 108, 0.53);
}

.a{
    margin-left:4%;
    margin-right:4%;
}

/* categories end */

/* footer starts */
.well{
    background-color: plum;
}
/* footer ends */