body{
    font-family: 'Roboto', sans-serif;
}
/* sidebar starts */
.navbar-fixed-left{
    width: 150px;
    border-radius: 0;
    height: 100vh;
}

a:focus, a:hover {
    color: black;
    text-decoration: none;
}
.panel-group .panel{
    margin-top: 100px;
    border-radius: 25px;
    background-color: #F07C4A;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
    text-decoration: none;
}

.navbar-brand > img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
}
.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    /* border-bottom: 0; */
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    text-decoration: none;
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
    border: 0px solid transparent;
}

.navbar-fixed-left .navbar-nav>li{
    float: left;
    width: 200px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse{
    background: linear-gradient(to right, #FF5E34 , #FD2856 );
}

.navbar-inverse .navbar-nav>li>a  {
    color: #fff;
}

.panel-sidebar > .panel-heading-sidebar{
    background-image: none;
    background-color: #f07c4a;
    color: #ffffff;
    border-radius: 25px;
    background-color: #f07c4a;
    color: #ffffff;
    box-shadow: 0 0 black;
    box-shadow: 1px 1px 20px 2px darkred;
}

/*ul{
    list-style:none;     
}

ul li a{
    color:grey;
    text-decoration: none;
}

ul li a:hover {
    color:white;
    text-decoration: none;
    
}

ul li a:visited {
    color:white;
    text-decoration: none;
}

ul li a:link {
    color:Blue;
    text-decoration: none;
}
ul li a:active {
    color:grey;
    text-decoration: none;
} */
/* sidebar ends */

/* loginForm Starts */

#loginForm{
    margin-top: 20%;
}

#loginForm input {
    content: "UU";
}
/* loginForm ends */


/* signUpForm Starts */

#signUpForm {
    margin-top: 10%;
}

/* signUpForm ends */

/* addPack starts */
#addPack{
    margin-top: 5%;
}

.headdiv{
    margin-bottom: 40px;
}
.imageUploaded{
    display: none;
}

.panel-content{
    margin-bottom: 20px;
    background-color: rgb(212, 172, 172);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 100%;
}
.panel-default > .panel-heading-custom{
    background-image: none;
    background-color: #cf5b95;
    color: #ffffff;

}
.panel-default > .panel-heading-custom2{
    background-image: none;
    background-color: #ed6b71;
    color: #ffffff;
}
.panel-default > .panel-heading-custom3{
    background-image: none;
    background-color: #f07c4a;
    color: #ffffff;
}
.panel-default > .panel-heading-custom4{
    background-image: none;
    background-color: #f13c1c;
    color: #ffffff;
}
.panel-default > .panel-heading-custom5{
    background-image: none;
    background-color: #dd7d0e;
    color: #ffffff;
}


/* addPack ends */

